[submodule "Contracts/SBTs/lib/forge-std"]
	path = Contracts/SBTs/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Contracts/JOBs/lib/forge-std"]
	path = Contracts/JOBs/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Contracts/USER_Store/lib/forge-std"]
	path = Contracts/USER_Store/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Contracts/lib/forge-std"]
	path = Contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Contracts/lib/openzeppelin-contracts"]
	path = Contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
